* {
    color: #eef0f2;
}

body {
    margin: 10;
    background-color: #353b3c;
    font-family: sans-serif;
}

nav,
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #846a6a;
    color: black;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 8px 12px;
    color: inherit;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#myphoto {
    width: 300px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.project-item {
    flex-grow: 0;
    /* background-color: #a2999e; */
    /* width: 100px; */
    padding: 20px;
}

img {
    width: 200px;
    border: 2px solid #eef0f2;
}

#redpanda {
    width: 500px;
}

.contact {
    list-style: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #848586;
  }

@media screen {
    
}

@media screen and (max-width: 768 px) {
    
}