* {
    color: #fff;
}
body {
    margin: 0;
    background-color: #280003;
    font-family: sans-serif;
}

nav,
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #848586;
    color: black;
}

.nav h1 {

}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 8px 12px;
    color: inherit;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.project-item {
    flex-grow: 0;
    background-color: #c2847a;
    /* width: cal(50% - 5px); */
    padding: 20px;
}

.contact {
    list-style: none;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: #848586; */
    color: #848586;
  }

@media screen {
    
}

@media screen and (max-width: 768 px) {
    
}