* {
    color: #eef0f2;
}

body {
    margin: 0;
    background-color: #353b3c;
    font-family: sans-serif;
}

nav,
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #846a6a;
    color: black;
}

nav h1 {
    padding: 5px;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 8px 12px;
    color: inherit;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main h2 {
    /* float: left; */
    word-wrap: break-word;
    display: block;
}

#myphoto {
    width: 300px;
    padding: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.project-grid {
    --gap: 20px;
    --num-cols: 4;
    --row-height 300px: 
    flex-grow: 0;
    /* box-sizing: border-box; */
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.project-grid img {
    width: 100%;
    height: 100%;
    border: 2px solid #eef0f2;
    object-fit: cover;
}

.hero-col {
    grid-column: span 2;
}

.hero-row {
    grid-row: span 2;
}

.contact {
    list-style: none;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #848586;
  }


/* for screens under 1024px */
@media screen and (max-width: 1024px) {
    .project-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

/* for screens under 768px */
@media screen and (max-width: 768px) {
    .project-grid {
        --num-cols: 1;
        --row-height: 100px;
    }
}